@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media (max-width: 995px) {
    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9%;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home .home-content {
    max-width: 50%;
    margin-left: 2rem;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #b74b4b;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #b74b4b;
    animation: typing 4s steps(15, end) infinite, blink-caret 0.2s step-end infinite;
    position: relative;
    top: 20px;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 25px #b74b4b;
    margin-right: 2rem;
    transition: 0.2s linear;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-img img {
        width: 60vw;
        max-width: 200px;
    }

    .home .home-content {
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-img img {
        width: 70vw;
        max-width: 150px;
    }
}

#about-me {
background-color: #080808;
padding: 4rem 0;
text-align: center;
}

.container {
width: 80%;
margin: 0 auto;
max-width: 1200px;
}

#about-me h2 {
font-size: 3rem;
color: #333;
margin-bottom: 2rem;
}

#about-me .about-img img {
width: 200px;
height: 200px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 2rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about-me .about-description p {
font-size: 1.2rem;
line-height: 1.6;
color: #555;
max-width: 800px;
margin: 0 auto;
}

.section {
padding: 40px 0;
background-color: #0c0c0c;
margin-bottom: 20px;
text-align: center;
display: flex;
flex-direction: column;
}

.container {
width: 80%;
margin: 0 auto;
display: flex;
gap: 100px;
justify-content: center;
}

h2 {
font-size: 28px;
margin-bottom: 20px;
text-align: center;
margin-top: 20px;
}
/* Projects */
.project {
margin-bottom: 20px;

}

.project h3 {
font-size: 24px;
margin-bottom: 10px;
}

.project img{
    width: 400px;
    
    

}

.project a {
text-decoration: none;
color: #f1f1f2;
text-align: center;
}

.project a:hover {
text-decoration: underline;
}


/* Responsive Design */
@media (max-width: 768px) {
#about-me .container {
width: 90%;
}

#about-me .about-description p {
font-size: 1rem;
}

.skills {
display: block;
}
}
#contact {
background-color: #fff;
padding: 4rem 0;
text-align: center;
}

.container {
width: 80%;
margin: 0 auto;
max-width: 1200px;
}

#contact h2 {
font-size: 3rem;
color: #383838;
margin-bottom: 2rem;   
}

#contact p {
font-size: 1.2rem;
color: #555;
margin-bottom: 2rem;
}

.contact-info {
display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
}

.contact-item {
font-size: 1.5rem;
color: #333;
}

.contact-item a:hover {
color: #333;
text-decoration: underline;
}
.social-media h3 {
font-size: 2.5rem;
color: #333;
margin-bottom: 1.5rem;
}

.form {
    display: flex;
    gap: 200px;
}

.social-icons {
display: flex;
justify-content: center; /* Pusatkan elemen sosial media */
gap: 7rem; /* Jarak antar ikon sosial media */
flex-wrap: wrap; /* Jika layar kecil, elemen akan turun ke baris baru */
}

.social-icons a {
display: inline-flex;
justify-content: center;
align-items: center;
width: 3rem; /* Ukuran lebar lingkaran */
height: 3rem; /* Ukuran tinggi lingkaran */
background-color: transparent;
border: 0.2rem solid #b74b4b; /* Warna dan ketebalan border */
font-size: 1rem; /* Ukuran ikon di dalam lingkaran */
border-radius: 50%; /* Membuat bentuk lingkaran */
color: #b74b4b;
margin-right: 1.5rem; /* Jarak antara lingkaran */
transition: 0.3s ease;
}

.social-icons a:hover {
color: #333;
text-decoration: underline;
}
/* Formulir Kontak - Kirim Pesan */
form#contactForm {
max-width: 300px;
max-height: inherit;
margin: 0 auto;
padding: 2rem;
background-color: #222;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
color: #fff;
}

form#contactForm label {
font-size: 1.4rem;
color: #b74b4b;
margin-bottom: 0.5rem;
display: block;
}

form#contactForm input,
form#contactForm textarea {
width: 100%;
padding: 1rem;
margin: 0.5rem 0 1.5rem;
font-size: 1.4rem;
color: #222;
background-color: #eaeaea;
border: 2px solid #b74b4b;
border-radius: 5px;
transition: border-color 0.3s ease;
}

form#contactForm input:focus,
form#contactForm textarea:focus {
border-color: #ff6b6b;
outline: none;
}

form#contactForm button {
width: 100%;
padding: 1.2rem;
font-size: 1.6rem;
font-weight: 600;
color: white;
background-color: #b74b4b;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease;
}

form#contactForm button:hover {
background-color: #ff6b6b;
transform: scale(1.03);
}
